@model PredictionHistoryBatchTableViewModel
<h1 class="mb-4">Prediction Batches</h1>
<div class="container border bg-darkblue w-100 rounded-3">
    <center class="row">
        <div class="text-center col-7 px-3 py-2 border-end"><b>Prediction Batch Name</b></div>
        <div class="text-center col px-3 py-2"><b>Published Date</b></div>
    </center>
    @foreach (ZenestaMVC.Models.Entity.PredictionBatch batch in Model.PredictionBatches)
    {
        string selectBackgroundColor = Model.ChosenBatchId == batch.Id ? "bg-darkblue-selected" : "";

        <center class="row border-top">
            <div class="clickable-batch-row col-7 px-4 py-2 border-end @selectBackgroundColor">
                <a class="row clickable text-decoration-none" href="@Url.Action("PredictionHistory", "ML", new { page = Model.Page, chosenBatchId = batch.Id })">
                    @if (Model.ChosenBatchId == batch.Id)
                    {
                        <b class="m-0 p-0" style="text-align:left">@batch.Name</b>
                    }
                    else
                    {
                        @batch.Name
                    }
                </a>
            </div>
            <div class="clickable-batch-row col px-3 py-2">@batch.DatePublished.ToUniversalTime()</div>
        </center>
    }
</div>